<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <!-- bean definitions here -->
	<bean id="welcomeid" class="com.manipal.train_tel_001.Welcome">
<property name="message" value="Welcome to Spring"/>
</bean>
	
	<bean id = "welcomeid1" class="com.manipal.train_tel_001.Welcome">
		<constructor-arg name="message" value="Welcome to Spring Parametrised Constructor" />
	</bean>
	
</beans>